h1{
    color: #CC00CC;font-family: impact;
}
#block{
    width: 300px;background-color:#FFCCCC;border-style:inset 
 }

h2{
    color:black
}

#aa{
background-color:burlywood;width: 300px;border-style: dashed double dashed
}